html,body
{
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
		max-width: 100%;
			}
html
{
		overflow-x: hidden;
    scroll-behavior: smooth;
			}
.paragraph {
    color:purple;
    font-size:4rem;
		position: relative;
    left: 400px;
    top:0px;
    font-weight: bold;
font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}
.header1 {
    color:black;
    font-size:35;
		position: relative;
    left: 550px;
    top:-950px;
    font-weight: bold;
    text-decoration: underline;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;

}
.header2 {
    color:purple;
    font-size:80;
    position: relative;
    left: 400px;
    top:50px;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;

}

.header3{
  color:purple;
  font-size:80;
  position: relative;
   left: 400px;
  top:100px;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;

}

.subheader1 {
  color:black;
  font-size:35;
	position: relative;
  left: 40px;
  top:-910px;
  font-weight: bold;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;

}

.subheader2{
  color:black;
  font-size:35;
	position: relative;
  left: 500px;
  top:-980px;
  font-weight: bold;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;

}

.subheader3{
  color:black;
  font-size:35;
	position: relative;
  left: 950px;
  top:-1070px;
  font-weight: bold;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;

}

.text1{
  color: black;
  font-size:27;
	position: relative;
  left: 40px;
  top: -1100px;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;

}

.text2{
  color: black;
  font-size: 27;
	position: relative;
  left: 275px;
  top: -1090px;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;

}

.text3{
  color: black;
  font-size: 27;
  position: relative;
  left: 550px;
  top: -1090px;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}



.myButton1 {
	box-shadow: 3px 4px 0px 0px #25218a;
		background:linear-gradient(to bottom, #140d4f 5%, #140d4f 100%);
		background-color:#140d4f;
		border-radius:18px;
		border:1px solid #1922cf;
		display:inline-block;
		cursor:pointer;
		color:white;
		font-family:Arial;
		font-size:17px;
		padding:17px 76px;
		text-decoration:overline;
		background:linear-gradient(to bottom, #3856f0 5%, #140d4f 100%);
		background-color:#3856f0;
	position:relative;
	top:1px;
	position: relative;
 	left: 100px;
	top: -60px;
}

.myButton1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.myButton1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.myButton1:hover span {
  padding-right: 25px;
}

.myButton1:hover span:after {
  opacity: 1;
  right: 0;
}

.myButton2 {
	box-shadow: 3px 4px 0px 0px #28dea7;
	background:linear-gradient(to bottom, #6fedb7 5%, #6fedb7 100%);
	background-color:#6fedb7;
	border-radius:18px;
	border:1px solid #6fedb7;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding:17px 76px;
	text-decoration: overline;
	background:linear-gradient(to bottom, #4ea699 5%, #6fedb7 100%);
	background-color:#6fedb7;
	position:relative;
	top:1px;
	position: relative;
 	left: 650px;
	top: -120px;
}
.myButton2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.myButton2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.myButton2:hover span {
  padding-right: 25px;
}

.myButton2:hover span:after {
  opacity: 1;
  right: 0;
}


.hr {
    display: block;
    height: 10px;
    border: 10;
    border-top: 200px solid #000000;
    position: sticky;
		top:0px;
}

.screenbutton {
position: fixed;
left: 0px;
top: 0px;
width: 1500px;
height: 900px;
background-color: transparent;
border-color: white;
border-top-width: 0px;
z-index: 9998;
border-right-width: 0px;
border-bottom-width: 0px;
outline: none;
outline: 0 ;
outline: white;
}

.header4{
  color:purple;
  font-size:80;
  position: relative;
   left: 425px;
  top:-275px;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

.header5{
  color:purple;
  font-size:90;
  position: relative;
   left: 390px;
  top:-125px;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}



.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 130px;
  background-color: black;
}

.a {
	color: transparent;
}


.img {
  opacity: 0.5;
}


.css-button {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 24px;
    border-radius: 0px;
    border: solid 0px #090363;
    background: #090363;
    text-shadow: 1px 1px 0px black;
    position: relative;
    top: 50px;
    left:-300px;
}
 .css-button:hover {
    background: #090363;
}
 .css-button:active {
    position: relative;
    top: 1px;
}
 .css-button-text {
    padding: 7px 18px;
    float: left;
    font-size: 15px;
}
 .css-button-icon {
    box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
    border-radius: 5px 0 0 5px;
    padding: 7px 20px;
    float: left;
    width: 15px;
    height: 10px;
}



/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  position: relative;
  left:-90px
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container {
  width: 1440px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #140d4f;
  position: relative;
  top: 400px;
z-index: 10000000;
}
.container .searchbox {
  position: fixed;
  top:37px;
  left: 998px;
  display: block;
  width: 100%;
  max-width: 53px;
  transition: .7s linear;
  overflow: hidden;
}
.container .searchbox .searchbox__input {
  display: block;
  appearance: none;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: white;
  padding: 15px;
  color: #24233A;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s linear;
}
.container .searchbox .searchbox__input::placeholder {
  color: white;
}
.container .searchbox .searchbox__icon {
  position: absolute;
  right: calc(53px / 2);
  top: 50%;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  pointer-events: none;

}
.container .searchbox .searchbox__icon path {
  fill: #00F494;
  transition: 0.4s linear;
}
.container .searchbox:focus-within {
  max-width: 300px;
}
.container .searchbox:focus-within .searchbox__input {
  background-color: gray;
  padding-right: 50px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.container .searchbox:focus-within .searchbox__icon path {
  fill: white;
}




.button1 {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.6;

}

.button1:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button1:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.button1:hover {opacity: 1}
